/* Write your CSS here */
* {
  box-sizing: border-box;
}
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
.comments-app-container {
  width: 80%;
  max-width: 1140px;
  display: flex;
  flex-direction: row;
}
.comment-header {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 500;
  margin-top: 36px;
  margin-bottom: 12px;
}
.comments-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  order: 0;
}
.description {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 300;
}
.comment-form-container {
  display: flex;
}
@media screen and (max-width: 575px) {
  .comments-app-container {
    flex-direction: column;
  }
}
.input-name {
  color: #1e293b;
  font-family: 'Roboto';
  border: 1px solid #d7dfe9;
  border-radius: 2px;
  width: 28%;
  height: 48px;
  padding-left: 16px;
  margin-right: 15px;
  outline: none;
  margin-bottom: 10px;
  flex-grow: 1;
  max-width: 320px;
}
.input-comment {
  color: #1e293b;
  font-family: 'Roboto';
  border: 1px solid #d7dfe9;
  border-radius: 2px;
  width: 28%;
  height: 48px;
  padding-left: 16px;
  margin-right: 15px;
  outline: none;
  margin-bottom: 10px;
  flex-grow: 1;
  max-width: 320px;
}
@media screen and (max-width: 575px) {
  .input-name {
    width: 280px;
  }
}
.button {
  background-color: #0ea5e9;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  border-radius: 6px;
  border: none;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 24px;
  outline: none;
  cursor: pointer;
  margin-bottom: 10px;
}
@media screen and (max-width: 575px) {
  .button {
    width: 200px;
  }
}
.comments-image-gallery {
  order: 1;
}
.comments-list {
  padding-left: 0;
  margin-top: 48px;
}
.comments-count {
  background-color: #0ea5e9;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
}
